<h1 class='text-center mb-4'>{{t 'dashboard.title'}}</h1>

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-4 mb-4'>
      <div class='card shadow-sm'>
        <div class='card-body'>
          <h5 class='card-title'>{{t 'dashboard.manageResidences.title'}}</h5>
          <p class='card-text'>{{t 'dashboard.manageResidences.description'}}</p>
          <a href='/residences' class='btn btn-primary'>{{t 'dashboard.manageResidences.button'}}</a>
        </div>
      </div>
    </div>
    {{#if (or (eq user.role 'admin') (eq user.role 'manager'))}}
    <div class='col-md-4 mb-4'>
      <div class='card shadow-sm'>
        <div class='card-body'>
          <h5 class='card-title'><i class="fas fa-chart-line"></i> {{t 'dashboard.generateReports.title'}}</h5>
          <p class='card-text'>{{t 'dashboard.generateReports.description'}}</p>
          <a href='/admin/reports' class='btn btn-success'>{{t 'dashboard.generateReports.button'}}</a>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if (eq user.role 'admin')}}
    <div class='col-md-4 mb-4'>
      <div class='card shadow-sm'>
        <div class='card-body'>
          <h5 class='card-title'>{{t 'dashboard.manageUsers.title'}}</h5>
          <p class='card-text'>{{t 'dashboard.manageUsers.description'}}</p>
          <a href='/admin/users' class='btn btn-warning'>{{t 'dashboard.manageUsers.button'}}</a>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if (eq user.role 'manager')}}
    <div class='col-md-4 mb-4'>
      <div class='card shadow-sm'>
        <div class='card-body'>
          <h5 class='card-title'><i class="fas fa-hotel"></i> {{t 'dashboard.manageAccommodations.title'}}</h5>
          <p class='card-text'>{{t 'dashboard.manageAccommodations.description'}}</p>
          <a href='/accommodations/manage' class='btn btn-info'>{{t 'dashboard.manageAccommodations.button'}}</a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

<!-- Pie Chart -->
<div class='row mt-5 mb-5 justify-content-center'>
  <div class='col-md-6'>
    <canvas id='residencePieChart'></canvas>
  </div>
</div>

<!-- Include Chart.js -->
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='/js/dashboard.js'></script>

<style>
#residencePieChart {
  border: 1px solid red;
}
</style>